<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mapper.MessageMapper">
	
	<resultMap type="orm.po.Message" id="messageListResualtMap">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="date" property="date"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		
		<association property="user" javaType="orm.po.User">
			<id column="user_id" property="id"/>
			<result column="username" property="username"/>
		</association>
	</resultMap>
	
	<select id="listMessages" resultMap="messageListResualtMap">
		select 
		message.*, user.username
		from message,user
		where message.user_id=user.id
	</select>
	
	<insert id="insertMessage" parameterType="orm.po.Message">
		insert into 
		message(user_id,date,title,content)
		values(#{userId},#{date},#{title},#{content}) 
	</insert>
</mapper>